@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to top left, #060507 0%, #29274d 100%);
    /* background-image: url("/src/images/9.png"); */

    background-size: cover;
    background-position: center;
    /* color: black; */
}

/* .login-page {
    background-color: black;
    opacity: 0.8;
    color: white !important;
    border: none;
} */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(196, 195, 195);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 139, 139);
}